.DetailsToday {
  background-color: #d9f1f4;
  line-height: 32px;
  border-radius: 40px;
  padding: 15px 0;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  min-height: 120px;
  width: 200px;
  color: var(--green-text-color);
}

.DetailsToday #humidity,
.DetailsToday #windSpeed {
  font-size: 15px;
  color: var(--green-text-color);
  font-weight: lighter;
  line-height: 1.7;
}

.DetailsToday a {
  text-decoration: none;
  color: #b83b5e;
}

.DetailsToday a:hover {
  color: var(--headings-color);
}

.DetailsToday .active {
  font-weight: bold;
  color: #b83b5e;
  opacity: 100%;
}
.DetailsToday .inactive {
  font-weight: normal;
  color: var(--green-text-color);
  opacity: 70%;
}
