.DetailsToday {
  background-color: #d9f1f4;
  line-height: 32px;
  border-radius: 40px;
  padding: 15px 0;
  display: block;
  margin: 0 auto;
  min-height: 120px;
  width: 200px;
}

.DetailsToday #humidity,
.DetailsToday #windSpeed {
  font-size: 14px;
  color: var(--green-text-color);
  line-height: 1.7;
}
