.Footer {
  font-size: 15px;
  color: var(--green-text-color);
}

.Footer a {
  text-decoration: underline;
  transition: ease-in-out 200ms;
}

.Footer a:hover {
  color: var(--headings-color);
}

.Footer a:visited {
  color: var(--headings-color);
}
