.ForecastDay {
  list-style-type: none;
  text-align: left;
  padding: 10px 0px 10px 20px;
  font-size: 17px;
  font-weight: bolder;
  font-stretch: expanded;
  line-height: 1;
  border-radius: 5px;
}

.ForecastDay:hover {
  background-color: #d9f1f4;
  transition: ease-in-out 200ms;
}

.ForecastDay .forecast_temp_max {
  color: var(--red-text-color);
}

.ForecastDay .forecast_temp_min {
  color: var(--headings-color);
}

.ForecastElt .forecast-icon {
  max-width: 60px;
  display: inline-block;
  position: relative;
  top: -8px;
  right: 10px;
}

@media (max-width: 575px) {
  .ForecasDay {
    padding: 7px 0px 7px 5px;
  }
}
