.TempToday {
  color: var(--red-text-color);
  font-size: 20px;
  font-weight: bold;
}

.TempToday a {
  color: var(--red-text-color);
  font-weight: normal;
  opacity: 70%;
}

.TempToday a:hover {
  text-decoration: underline;
}
